<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>Super Rentals Representatives would love to help you<br>choose a destination or answer
    any questions you may have.</p>
  <p>
    Super Rentals HQ
    <address>
      Mörkagårdsgatan 14<br>
      52137, Falköping
    </address>
    <a href="tel:+46763988088">+46 76 398 80 88</a><br>
    <a href="mailto:philip.zdb@gmail.com">philip.zdb@gmail.com</a>
  </p>
  {{#link-to 'about' class="button"}}
   About
 {{/link-to}}
</div>
